/*  your css code here. If applicable */
th,td{
	border: 1px solid rgb(204, 204, 204);
	border-radius:5px;
	padding:8px;
}

#even1{
	background-color:rgb(255, 255, 255); ;
}
#even2{
	background-color:rgb(255, 255, 255);
	
}
#odd1{
	
	background-color: rgb(242, 242, 242);
}
#odd2{
	background-color:rgb(242, 242, 242);
}

