/*  your css code here. If applicable */
th{
	border: 1px solid #ccc;
	border-radius:5px;
	padding:0.5em;
}

#even1{
	background-color:#f2f2f2 ;
}
#even2{
	background-color:#f2f2f2 ;
	
}
#odd1{
	
	background-color: #ffffff;
}
#odd2{
	background-color: #ffffff;
}
.cell1{
	border: 1px solid #ccc;
	border-radius:5px;
	padding:0.5em;
}
.cell2{
	border: 1px solid #ccc;
	border-radius:5px;
	padding:0.5em;
}
.cell3{
	border: 1px solid #ccc;
	border-radius:5px;
	padding:0.5em;
}
.cell4{
	border: 1px solid #ccc;
	border-radius:5px;
	padding:0.5em;
}
